<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	
    <connectionStrings>
        <add name="Test" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	
	<appSettings>
		<add key="SQL" value="Select * from Persons"/>
		<add key="DateSetting" value="Friday,June 05, 2020 02:16:56 PM"/>
	</appSettings>
	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
</configuration>